@charset "utf-8";

/*notice 추가*/
#notice{width:100%; height:50px; background-color:#666666; color:#ffffff; text-align:center; line-height:50px; }
#notice a{color:#ffffff; }

#page_wrap{background:url(../img/back_.jpg) repeat-y; width:100%; height:auto;}

#top{color: #ffffff; background-color: #000000; width: 100%; height: 120px; position: relative; }
#top_wrap{width:1500px; margin: 0 auto; padding-top: 20px;  }
#top_wrap li{float: left; padding-right: 20px; }
#top_wrap li:last-child{padding-right: 0;}
.quick{float: right;}
.quick li{float: left; padding-right: 15px;}

.list_top{width:810px; height: 62px; position: absolute; left: 50%; top:30%; transform: translate(-50%,0); z-index: 5; }
.menu_list{color: #ffffff; font-size: 24px; font-weight: bold; padding-top: 35px; }
.list1{ float: left; padding-right: 50px; }
.menu_list li{position: relative;  height: 50px;}
.menu_list li:hover a{color: #ffffff;}
#top_wrap p{  float: left;}
.list2{float: left; padding-left: 50px; }

.menu_list > li > .submenu{position: absolute; left: 0; top: 45px; z-index: 10; background-color: #000000;  }
.menu_list > li > .submenu > li{width: 150px; height: 35px; line-height: 35px;}
.menu_list > li > .submenu > li:last-child{width: 100%; padding-bottom: 5px; }
.menu_list > li > .submenu > li > a{display: block; color: #ffffff; font-size: 16px; text-indent: 10px; }
.menu_list > li > .submenu > li:hover{background-color: #3b3b3b; }

.search_top{width: 100%; height: 35px; background-color: gray;}
.search_top ul{width: 1100px; text-align: center; background:rgba(255,255,255,0.5); margin: 0 auto;}
.search_top ul li{height: 35px; line-height: 35px; }

.vid_back{background-color:rgba(0,0,0,1); position:absolute;  }
#page1{height:100%; position:relative; width:100%; height:900px; margin-bottom: 100px;} 
#page1_con{position:absolute; top:0; bottom:0; width:100%; height:100%; overflow:hidden;  }
#page1_con video{width:auto; height:auto; min-width:100%; min-height:100%; }
#page1_txt{position:absolute; left:55%; top:50%; transform:translate(-50%,-50%); color:#ffffff;  }
#page1_txt p:last-child{font-size:14px; float:right;}


/**** PAGE2 ****/
#page2 {height: 600px; width: 1400px; margin:0 auto;}
/*.page2{width:1400px; height: 400px;  margin: 0 auto; border: 1px solid red; }*/
#page2 div{float: left; cursor: pointer; }

.page2 div{ margin:20px;  width:400px; height:400px; border-radius:50%; position:relative; border:6px solid rgba(244,238,242,1); box-shadow:5px 5px 3px rgba(0,0,0,0.3); /*overflow:hidden; */ }
.page2 div::before, .page2 div::after{content:""; background:#ffffff; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); opacity:0; z-index:3;  transition:all 0.4s ease-in-out; }
.page2 div::before{width:150px; height:2px; left:100%; }
.page2 div::after{width:2px; height:150px; top:0%; }
.page2 div:hover::before, .page2 div:hover::after{opacity:1; left:50%; top:50%; }
.page2 div > h3{position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); color:#ffffff; font-size:50px; opacity:1; transition:all 0.4s ease-out; font-weight:bold; text-align:center; text-shadow:2px 2px 2px rgba(0,0,0,0.3); }
.page2 div img{transition:all 0.3s;}
.page2 div:hover > img{ filter: brightness(50%);  }
.page2 div:hover > h3{text-shadow:2px 2px 2px rgba(0,0,0,0.3); }

/*page3*/
#page3{max-width: 1500px; margin:0 auto; height: 2500px;  /*overflow: hidden;*/ }

.box_1{width: 1500px; height: 900px; padding-bottom: 0;}

.p3_1{height: 900px; float: left;}
.p3_1 p:nth-child(2){width: 750px; height: 106px; font-size: 60px; font-weight: bold; color: #a7a7a7; background-color: #ffffff; text-align: center; line-height: 100px; text-transform: uppercase; }
.p3_2{float: right; width: 750px; height: 900px; overflow: hidden;}
.p3_2 p img{vertical-align: middle; }
.p3_sl{width: 2250px; height: 900px; }
.p3_sl img{float: left; }

.p3_sl1, .p3_sl2{cursor: pointer;}

.box_2{width: 1500px; height: 200px; clear: both; }
.box_2 p img{float: left; }
.box_2 p:last-child img{ }

.p3_4{ width: 1500px; height: 850px; position: relative;}
.p3_4 p:first-child{float: left; width: 750px; height: 850px; background-color: #e6becf; }
.p3_4 p:nth-child(2){transform: rotate(-90deg); color: #ffffff; font-size: 90px; font-weight: bold; position: absolute; bottom: 150px; left: 430px; line-height: 90px; z-index: 5;  text-transform: uppercase; }
.p3_4 p:last-child{}

.box_3{clear: both; width: 1500px;}

.p3_5{float: left;  width: 750px; height: 860px;}
.P3_5 p{}

.p3_6{float: right; background-color: #bbbdeb; width: 750px; height: 850px; position: relative; } 
.p3_6_1{width: 750px; height: 425px; position: absolute; top: 0; left: 0; }
.p3_6_1 p:nth-child(2){position: absolute; top: 10%; left: 400px; font-size: 55px; font-weight: bold; font-weight: 900; color: #ffffff; text-transform: uppercase;    }
.p3_6_1 p:nth-child(3){position: absolute; top: 25%; left: 400px; font-size: 55px; font-weight: bold; font-weight: 900; color: #f9effb; text-transform: uppercase; }
.p3_6_1 p:last-child{position: absolute; bottom:10%; left: 400px; font-size: 55px; font-weight: bold; font-weight: 900; color: #bbbdeb; text-transform: uppercase; text-shadow:0px 0px 1px #ffffff; }

.p3_6_2{width: 750px; height: 422px; position: absolute; top:425px; left: 380px;}
.p3_6_2 p:nth-child(2){position: absolute; left: -45%; top: 15px; transform-origin:left bottom; transform: rotate(90deg); font-size: 55px; font-weight: bold; font-weight: 900; color:#f9effb; text-transform: uppercase;  width: auto; height: auto; }
.p3_6_2 p:last-child{position: absolute; left: -8%; top: 15px; transform-origin:left bottom; transform: rotate(90deg); font-size: 55px; font-weight: bold; font-weight: 900; color:#bbbdeb; text-transform: uppercase;  width: auto; height: auto; text-shadow:0px 0px 1px #ffffff;}

/*page4*/
#page4{max-width:1500px;  height:400px; margin:500px auto 0 auto; }
.page4{box-sizing:border-box; display:flex; }
.box{flex:1; overflow:hidden; transition:all 0.5s;  margin-right:40px; cursor:pointer; }
.box:last-child{margin-right:0;}
.box p img{width:100%; height:100%; object-fit:cover; transition: all 0.5s; }
.box span{font-size:14px; display:block; text-align:center; height:50px; line-height:2.6; background-color:#ffffff; }
.box:hover{flex:1 1 50%; box-shadow:0 20px 30px rgba(0,0,0,0.1);}
.box:hover > img{width:100%; height:100%;  }



#page5{margin-top: 260px; width: 100%; height: 376px; background-color: #000000; text-align: center; display: flex; justify-content: center; }
.page5_txt {
  letter-spacing: 5px; 
  margin: 0;
  font-size: 160px;
  padding: 160px 0 0 0;
  color: #000000;
    animation: move linear 2000ms infinite; 
  text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
    0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
    0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
    -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);}
 .page5_txt span {
    transform: scale(0.9);
    display: inline-block;
  }
 .page5_txt span:first-child {
    animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
      alternate;
  }
 .page5_txt span:last-child {
    animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
      infinite alternate;
  }


/**** bottom ****/
#bottom{width: 100%; height: 400px; background-color: #000000; border: 1px solid #000000; }
.bottom_txt{ color: #ffffff; margin: 3% 0 3% 6%;}
.bottom_txt ul{float: left; width: 15%;}
.bottom_txt ul li:first-child{font-weight: bold; margin-bottom: 10px; font-size:16px;}
.bottom_txt ul li:first-child:hover{color: #ffffff;}
.bottom_txt ul li{line-height: 1.9em; cursor: pointer; }
.bottom_txt ul li:hover{color: #839de0;}
address{clear: both; margin-left:6%; padding-top:4%;  font-style: normal; color:#ffffff; width: 55%; padding-left: 9%; background: url(../img/logo2.png) no-repeat bottom left; }
address span{color:#839de0;}

@keyframes bop {
  0% {transform: scale(0.9);}
  50%,
  100% {transform: scale(1);}
}

@keyframes bopB {
  0% {transform: scale(0.9); }
  80%,
  100% {transform: scale(1) rotateZ(-3deg);}
}
@keyframes move {
  0% {
    text-shadow:
      5px -5px 0 rgba(255,0, 255, 1), 
      4px -4px 0 rgba(255,0, 255, 1), 
      3px -3px 0 rgba(255,0, 255, 1), 
      2px -2px 0 rgba(255,0, 255, 1),
      -5px 5px 0 rgba(255, 255, 0, 1), 
      -4px 4px 0 rgba(255, 255, 0, 1), 
      -3px 3px 0 rgba(255, 255, 0, 1), 
      -2px 2px 0 rgba(255, 255, 0, 1)
    ;
  }
  25% {    
    text-shadow:      
      -5px -5px 0 rgba(255, 255, 0, 1),
      -4px -4px 0 rgba(255, 255, 0, 1),
      -3px -3px 0 rgba(255, 255, 0, 1),
      -2px -2px 0 rgba(255, 255, 0, 1),
      5px 5px 0 rgba(255,0, 255, 1), 
      4px 4px 0 rgba(255,0, 255, 1), 
      3px 3px 0 rgba(255,0, 255, 1), 
      2px 2px 0 rgba(255,0, 255, 1)      
    ;
  }
  50% {
    text-shadow:
      -5px 5px 0 rgba(255,0, 255, 1), 
      -4px 4px 0 rgba(255,0, 255, 1), 
      -3px 3px 0 rgba(255,0, 255, 1), 
      -2px 2px 0 rgba(255,0, 255, 1),
      5px -5px 0 rgba(255, 255, 0, 1),
      4px -4px 0 rgba(255, 255, 0, 1),
      3px -3px 0 rgba(255, 255, 0, 1),
      2px -2px 0 rgba(255, 255, 0, 1)
    ;
  }
  75% {
    text-shadow:
      5px 5px 0 rgba(255, 255, 0, 1), 
      4px 4px 0 rgba(255, 255, 0, 1), 
      3px 3px 0 rgba(255, 255, 0, 1), 
      2px 2px 0 rgba(255, 255, 0, 1),
      -5px -5px 0 rgba(255,0, 255, 1), 
      -4px 43px 0 rgba(255,0, 255, 1), 
      -3px -3px 0 rgba(255,0, 255, 1), 
      -2px -2px 0 rgba(255,0, 255, 1)     
    ;
  }
  100% {
    text-shadow:
      5px -5px 0 rgba(255,0, 255, 1), 
      4px -4px 0 rgba(255,0, 255, 1), 
      3px -3px 0 rgba(255,0, 255, 1), 
      2px -2px 0 rgba(255,0, 255, 1),
      -5px 5px 0 rgba(255, 255, 0, 1), 
      -4px 4px 0 rgba(255, 255, 0, 1), 
      -3px 3px 0 rgba(255, 255, 0, 1), 
      -2px 2px 0 rgba(255, 255, 0, 1)
    ;
  }  
}

































